/* Colors and Fonts*/

body{
	background-color: white;
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}


h1{
	color:#541212;
	font-family: Montserrat, sans-serif;
	font-size: 40px;
	font-weight: 600;
}

h2,h3{
	color:#9D5353;

}

a {
  color: #1C0A00 ;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
	color:#9D5353;
}


/* Custom design with class and id*/

#profile{
	width: 300px;
	border-radius: 4%;
}

.text-left{
	text-align: left;
}

.card-rose{
	background-color: #F1E0AC;
	border-radius: 5px;
	margin:2% auto;
	border: 0px solid black;
	padding: 1%;
	box-shadow:4px 8px 8px rgb(0, 0, 0, 0.3); 
}

.btn-brown{
	background-color:#BF9270;
	border-radius:5px;
	padding:10px 20px;
}
.btn-brown:hover{
	background-color: #1C0A00 ;
	color: white;
}

#box-principal{
	padding-bottom: 2%;
}
#box-principal p{
	margin-bottom: 30px;
}


.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display:inline;
	padding: 5px;
}
.list-inline i{
	font-size: 40px;
	color: #9D5353;
}
.list-inline i:hover{
	color :#1C0A00;
}
